<%- include("layout", {
  user: null,
  body: `
  <div class="card">
    <h2>Login</h2>

    ${error ? `<p class="error">${error}</p>` : ""}

    <form method="POST">
      <label>Email</label>
      <input name="email" type="email">

      <label>Password</label>
      <input name="password" type="password">

      <button>Login</button>
    </form>

    <p>New here? <a href="/signup">Create account</a></p>
  </div>
`}) %>
